
spring:
    security:
        user:
            name: ??? #Nome de usuário para autenticação
            password: ??? #Senha
    mail:
        username: ??? #email remetente
        password: ??? #senha de aplicativo