
spring:
    security:
        jtw:
            secretKey: ??? #HMAC Authentication Code
            expirationTime: ??? #tempo de expiração
    mail:
        username: ??? #email remetente
        password: ??? #senha de aplicativo

    datasource:
        password: ??? #senha do banco