
spring:
    security:
        user:
            name: ??? #Nome de usuário para autenticação
            password: ??? #Senha
        jtw:
            secretKey: ??? #HMAC Authentication Code
            expirationTime: ??? #tempo de expiração
    mail:
        username: ??? #email remetente
        password: ??? #senha de aplicativo